h1 {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul.food {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

ul.food a:link, 
ul.food a:visited {
  color: orange;
}

ul.food a:hover, 
ul.food a:active {
  color: aqua;
}
