h1 {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

a.food {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

a.food:link, 
a.food:visited {
  color: orange;
}

a.food:hover, 
a.food:active {
  color: aqua;
}
